<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>googleoauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.714060347503-5kpb6fp58gs80o2fkko0e5r5sin0thdt</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
